.tools-list {
  background-color: #d0d0d0;
  flex: 0 0 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  cursor: pointer;
  background-color: #e8e8e8;
  background-position: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px white, 1px 1px 1px rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;

  &.current-tool {
    background-color: #f4e284;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 white;
  }

  &.select {
    background-image: url(../icons/pointer.svg);
  }
  &.line {
    background-image: url(../icons/line.svg);
  }
  &.ellipse {
    background-image: url(../icons/ellipse.svg);
  }
  &.rect {
    background-image: url(../icons/rectangle.svg);
  }
  &.image {
    background-image: url(../icons/image.svg);
  }
  &.zoom {
    background-image: url(../icons/zoom.svg);
  }
  &.group-elements {
    display: none;
    background-image: url(../icons/group-elements.svg);
  }
  &.ungroup-elements {
    display: none;
    background-image: url(../icons/ungroup-elements.svg);
  }
}
